:root {
  --font-light: "sans light";
  --font-regular: "sans regular";
  --font-medium: "sans medium";
  --font-bold: "sans bold";
  --title-color: #000000;
  --text-color: #333333;
  --bg-color: #fff;
  --primery-color: #ff5722;
  --color-orenge: #f57f17;
  --transition: all 200ms ease;
}

html {
  font-size: 62.5%;
  /* عوض کردن واحد rem */
  /* 62.5% = 10px */
  -webkit-tap-highlight-color: transparent;
  /* رفع کردن بگراند هنگام کلیک در موبایل */
  /* اما ساپورت مرورگرش ضعیفه */
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-family: var(--font-regular);
  font-size: 1.6rem;
}

/* helper class */

.btn {
  background-color: var(--primery-color);
  border-radius: 0.8rem;
  color: var(--bg-color);
  font-family: var(--font-regular);
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* header */

.header {
  background-color: #f8f8f8;
  position: sticky;
  top: 0;
  position: relative;
}
.header-werraper {
  padding: 0.8rem;
}
.header-nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  background-color: var(--bg-color);
}
.header__menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.6rem 1.6rem 0 1.6rem ;

}
.header__item {
}
.header__link {
  color: #545454;
  transition: var(--transition);
  font-size: 1.4rem;
  

}
.header__link:hover {
  color: var(--primery-color);
}
.header__btn {
  padding: 0.7rem 4rem;
  font-size: 1.4rem;
  line-height: 3rem;
  transition: var(--transition);
  margin-bottom: 1.6rem;
}
.header__btn:hover {
  transform: scale(0.95);
}
.header-logo {
}
.nav-taggel {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav-taggel__line {
  position: relative;
  transition: all 150ms ease-in;
}
.nav-taggel__line,
.nav-taggel__line::after,
.nav-taggel__line::before {
  content: " ";
  position: absolute;
  width: 2.4rem;
  height: 0.2rem;
  background-color: var(--title-color);
  border-radius: 2rem;
}
.nav-taggel__line::after {
  top: 0.7rem;
  transition: all 200ms ease-in;
}
.nav-taggel__line::before {
  bottom: 0.7rem;
  transition: all 200ms ease-in;
}
.nav-taggel__line--open {
  background-color: transparent;
}
.nav-taggel__line--open::after {
  transform: translateY(-7px) rotate(-45deg);
}
.nav-taggel__line--open::before {
  transform: translateY(7px) rotate(45deg);
}

/* home */

.home {
  background: url("../images/banner-mobile.webp") no-repeat;
  background-size: cover;
  max-height: 60rem;
  padding-block: 2rem;
}
.home-werraper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.home-right {
  width: 270px;
  background-image: linear-gradient(51deg, rgba(23, 26, 60, 0.7) 5%, rgba(23, 26, 60, 0.3) 95%);
  border-radius: 2rem;
  padding: 2.5rem;
  padding-top: 1rem;
}
.home-right__title {
  color: var(--bg-color);
}
.home-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.4rem;
  margin-top: 3rem;
}
.home-links__btn {
  color: var(--bg-color);
  text-align: center;
  padding: 1.4rem;
  border: 2px solid var(--bg-color);
  background-color: rgba(23, 26, 60, 0.5);
  border-radius: 1.2rem;
  width: 100%;
}
.home-links__btn--white {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.home__img {
  width: 300px;
  height: 420px;
  position: relative;
  display: none;
}
.home__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  bottom: -30%;
}
