@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .nav-taggel {
    display: none;
  }
  .header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    position: static;
    height: auto;
    overflow: visible;
    background-color: transparent;
  }
  .header__menu {
    flex-direction: row;
    padding: 0;
  }
  .home {
    padding: 0;
    padding-bottom: 5rem;
    background: url("../images/banner.jpg") no-repeat;
    background-size: cover;
    max-height: 38rem;
  }
  .home-werraper {
    justify-content: space-between;
  }
  .home-right {
    width: 528px;
    border-radius: 0 0 2rem 2rem;
  }
  .home-right__title {
  }
  .home-links {
  }
  .home-links__btn {
    width: 48%;
  }
  .header__btn {
    margin-bottom: 0;
  }
  .service__title{
    font-size: 3.5rem;
  }
}
@media (min-width: 992px) {
  .header__link {
    font-size: 1.5rem;
  }
  .header__btn {
    font-size: 1.5rem;
  }
  .header-nav {
    gap: 4rem;
  }
  .header__menu {
    gap: 2rem;
  }
  .home__img {
    display: flex;
  }
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
